<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS734 - DataViz Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">DataViz Explorer</a>
    </div>

    <div class="form-container">
        <!-- Text Search Form -->
        <form action="/" method="POST" class="text-search-form">
            <input type="text" id="searchQuery" name="searchQuery" placeholder="Search for visualizations.." >
            <button type="submit">Search</button>
        </form>

        <!-- Image Upload Form -->
        <form action="/upload" method="POST" enctype="multipart/form-data" class="image-upload-form">
            <input type="file" id="imageUpload" name="imageUpload" hidden onchange="submitForm()"/>
            <label for="imageUpload">Upload and Search</label>

        </form>
    </div>
    
    <!-- Results -->
    <div id="results">
        <div class="result-grid">
            {% if results %}
                {% for key, value in results.items() %}
                    <div class="result-item">
                        <p>{{ value['name'] }}</p>
                        <img src="{{ url_for('static', filename=value['location']) }}" alt="Image" width="300">
                        <p>{{ value['label'] }} : {{ value['score'] }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script>
        function submitForm() {
            document.querySelector('.image-upload-form').submit();
        }
    </script>
</body>
</html>